/*----------------
 Label
 -----------------*/

body{
  font-family: 'Poppins', sans-serif;
  background-color: #F3F1FF;
}
.container{
  background-color: #FFFFFF;
  width: 92%;
  height: 450px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
}
 .Label{
  position: absolute;
  left: 8.68%;
  font-size: 24px;
  line-height: 36px;
  color: #3A3A3A;

 }

 /*------------------------------- 
 Start your Journey as Influencer 
 ---------------------------------*/
/* .top-banner big-group{
position: absolute;
width: 582px;
height: 283px;
left: 125px;
top: 270px;

} */

.half-width h1{
 position: absolute;
 width: 582px;
 height: 139.4px;
 left: 8.68%;
 top: 100px;
 
 font-size: 52px;
 line-height: 70px;
 }
.half-width p{
  position: absolute;
  left: 8.68%;
  right: 56.25%;
  top: 45%;
  bottom: 85.18%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
 .link-botton{
   /* display: flex; */
   /* flex-direction: row; */
   /* align-items: flex-start; */
   padding: 10px 24px;
   position: absolute;
    width: 196px;
    height: 40, 20px;
    left: 8.67%;
    top: 64%;
    /* background: #E02C6D; */
    background-color: aqua;
    color: white;
    border-radius: 50px;
    font-weight: 800;
    text-decoration: none;
 }
 i{
   background-color: aquamarine;
   position: absolute;
   top: 66%;
   left: 26%;
   height: 46, 24px;
   color: white;
 }

/*----------------
 img style
-----------------*/

.half-hight{
  position: absolute;
   width: 200px;
   height: 414px;
   left: 560px;
   top: 100px
   
}


/* ---------------------
Popular Collection
---------------------- */
.container-max{
  background-color: #FFFFFF;
  width: 92%;
  height: 1200px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
}
.section-title{
  color: aqua;
  font-size: 26px;
  margin-top: 4px;
  text-align: center;
}

/*-------------------
     coursses styles 
 -------------------*/
 .courses{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
 }
 .courses{
background-color: white;
position: absolute;
width: 580px;
height: 450px;
left: 126px;
top: 630px;
 }
 .courses .coures-banner img{
  width: 240px;
  height: 180px;
 }
.fa-star{
  font-size: 10px;
}
.fa-star.filled{
  color: #FFC014;
}
.koto{
  font-size: 15px;
}
.link-botton-max{
  padding: 10px 24px;
  position: absolute;
  width: 196px;
  height: 121, 24px;
  left: 90%;
  top: 250%;
  background-color: aqua;
  color: white;
  border-radius: 50px;
  font-weight: 800;
  text-decoration: none;
}
.low{
  position: absolute;
  height: 120, 20px;
  left: 121%;
  top: 253%;
  color: white;
  background-color: aqua;
}
/*-------------- 
footer style
--------------- */
footer{
  text-align: center;
  background-color: silver;
  color: white;
  height: 190px;
  border-radius: 10px;
  font-size: 25px;
}
